#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* input {
  field-sizing: content;
  min-inline-size: 11.5ch;
} */

#quantity {
  field-sizing: content;
  min-inline-size: 9.2ch;
}