#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#quantity {
  field-sizing: content;
  min-inline-size: 11.7ch;
}

td input {
  field-sizing: content;
  min-inline-size: 5ch;
}